
header{
    background-color: whitesmoke;
}

.box{
    width: 940px;
    position: relative;
    margin: 0 0;
}

#logo{
    width: 100px;
    padding: 15px;
}

nav{
    position: absolute;
    top: 50px;
    left: 120px;
}

nav li{
    display: inline;
    margin-left: 15px;

}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;    
}

nav a:hover{
    color: rgb(245, 32, 68);
}

.logo2{
    width: 150px;
    padding-bottom: 50px;
}

footer{
    position:relative;
    /*width: 100%;*/
    text-align: center;
    background: url(logo/bg.jpg);
    /*background-color: black;*/
    padding: 40px;
}

.Copyright{
    color: white;
    font-size: 13px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.main_input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

select:required:invalid {
    color: gray;
}

option {
    color: black;
}

.options{
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 55.7%;
}

.checkbox{
    margin:rgb(8, 8, 8) 0;
}

.submit{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(109, 31, 55);
    border: none;
    border-radius: 10px;
    transition: 0.5s all;
    cursor: pointer;
}

.submit:hover{
    background-color: rgb(150, 36, 70);
    transform: scale(1.1);
}

table{
    margin: 40px 40px;
}

thead{
    color: rgb(109, 31, 55);
    font-weight: bold;
}

td, th{
    padding: 8px 15px;
    border: 1px solid rgb(109, 31, 55);
}

.opening:first-child{
    border-top-left-radius: 7px;
}
  
.opening:nth-last-child(1){
    border-top-right-radius: 7px;
}
  
.last_row td:first-child{
     border-bottom-left-radius: 7px;
}
  
.last_row td:nth-last-child(1){
     border-bottom-right-radius: 7px;
}
